.data-table{
    display: flex;
    justify-content: center;
    /* height: fit-content; */
  }
  
  .coin-list{
    /* background-color: red; */
    position: relative;
    margin: 30px;
    height: 80vh;
    width: 80%;
    overflow-x: hidden; 
    overflow-y: auto;
  }
  
  .table{
    min-width: 500px;
    /* background-color: red; */
  }
  
  .options-container{
    display: flex;
    justify-content: space-between;
  }
  
  .search-bar-container{
    display: flex;
    justify-content: flex-start;
  }
  
  .search-bar{
    position: relative;
    margin: 0 10px 0 0;
    /* background-color: rgb(241, 241, 241); */
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }
  
  .update-container{
    display: flex;
    margin: auto 20px auto auto;
    height: fit-content;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  .update-container:hover{
    transform: scale(1.1);
  }

  .update-icon{
    /* background-color: red; */
    padding-left: 5px;
    padding-right: 10px;
  }